.footer {
  background-color: #f8fafc;
  height: 100px;
  border: 1px solid #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.icons {
  display: flex;
  padding: 6px;
  justify-content: space-around;
  width: 150px;
}
.contactus {
  font-family: HK Grotesk;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
}
.copyright {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}
